
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --primary-color: white;
  --secondary-color:green;
  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;   
}
html{
 
  scroll-behavior: smooth; 
}
.navbar  .container{
display:flex;
justify-content: space-between;
align-items: center;
background-color: rgb(60, 65, 63);;
}
.navbar .main-menu ul{
display: flex;
}
.navbar ul li a{
padding: 10px 20px;
font-weight: 550;
display:block ;
transition: 0.5s;
color: orange ;
}
.navbar ul li a:hover{
    color: rgb(29, 167, 86);
    }  
.logo img{
    height: 50px;
    width: 70px;
    font-size: larger;
    cursor: pointer;
}
/*-----Hero Section-----------*/
.hero{
  height: 80vh;
  background-image: url(Images/peakpx.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.introduction{

  display: flex;
  flex-direction:column;
  justify-items: center;
  padding-top: 120px;
  align-items: center;
  color: white;
  letter-spacing: 1px;  
}
.introduction h1{
font-size: 3rem;
}
.introduction p{
padding: 1rem;
font-size: 1.5rem;
}
.cta-primary  {
  padding: 5px;
  border-radius: 3px;
  width: 120px;
  border: none;
  color: white;
  background-color: rgb(29, 167, 86);
  font-family: 'Times New Roman', Times, serif;
  transition: all ease-out 0s;
}
.cta-primary:hover{
background-color: black;
color: rgb(29, 167, 86);
cursor: pointer;
}
/*-------SERVICES-----*/
.Our-services{
background-color:	rgb(255, 255, 255);
}
.services-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.services-header h1{
  color: rgb(0, 0, 0);
  font-size:2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.services-header p{
font-size: 1.6rem;
color: rgb(0, 0, 0);

}
.services-container{
display: grid;
height: 100vh;
width: 100vw;
grid-template-rows: repeat(2, 200px);
grid-template-columns: repeat(3, minmax(150px, 300px));
column-gap:20px;
row-gap: 30px;
justify-content: center;
padding-top: 60px;
}
.services-card {
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
align-items: center;
height:100%;
width: 100%;
padding: 6px;
border-radius: 5px;
background-color:rgb(60, 65, 63);
transition: all ease 1s;
}
.services-card h2{
    padding: 3px;
    font-size: 16px;
    color: 	rgb(255, 255, 255);;
    font-family: Arial, Helvetica, sans-serif; 
}
.services-card:hover{
  border: 1px solid rgb(252, 255, 252);
  box-shadow: 1px 1px 4px;
  background: linear-gradient(to right , blue, orange);
  transform: translateY(-6px);

}
.services-card i {
  color: 	rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgb(29, 167, 86);
  padding: 8px;

}
/*---------ABOUT US----------------*/
.About-us{
  color: rgb(1, 17, 17);
  background-color: rgb(13 , 18 , 14);
  height: 80vh;
  }
.About-details{
box-shadow: 1px 5px 3px;
border-radius: 10px;
padding: 5px;
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 20px;
margin-left: 30px;
margin-right: 30px;
background-color:rgb(60, 65, 63);
animation: fadeInUp;
animation-duration: 1s;
animation-delay: 0s;
}
@keyframes fadeInUp {
  from {
    opacity:0;
    transform:translateY(50%);
  }
   to {
    opacity: 1;
    transform:translateY(0%);
   }
}
.About-us h1{
padding: 20px;
text-align: center;
font-size: 30px;
color:rgb(255, 255, 255); ;
padding-top: 30px;
}
.right-side{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; 
}
.About-information {
margin-top: 30px;
color: rgb(255, 255, 255);;
}
.about-img{
    padding-top: 40px;
    border-radius: 20px 20px 30px 80px;
    width: 500px;
    padding-bottom: 20px;
}
.about-button{
    margin: 60px;
    font-weight: bold;
    height: 40px;
    width: 160px;
    color: white;
    background-color:rgb(29, 167, 86);
    border-radius: 1px;
    outline: none;
}
.about-button:hover{
    background-color: rgb(8, 8, 8);
    cursor: pointer;
    transition-delay: 0s;  
    transition-duration: 1s;
}
.button:focus{
    background-color: aliceblue;
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
/*-------TESTIMONIALS--------*/
.testimonials{
height: 70vh;
background-color: #3c3ce9;
}
.testimonials-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.testimonial-container {
  display: flex;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  flex-wrap: wrap;
  border-top-width: 2px;
  border-color: #16191d;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.testimonial-content {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background: #16191d;
}
.swiper-slide img {
  margin-right: 1rem;
  border-radius: 50%;
  width: 2.5rem;
}
.testimonial-text {
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1.25rem;
  color: white;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e60045;
}
/*---------------------Article---------*/
.article-wrapper{
height: 30vh;
width: 100%;
background-image: url(Images/img1.jpg);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}
.article-wrapper .btn{
  background-color: rgb(29, 167, 86);
  color:rgb(255, 255, 255);
  border-radius: 20px;
  width: 140px;
  margin: 10px;
  padding: 10px;
  letter-spacing: 1.5px;
  border: none;
}
.article-wrapper .btn:hover{
  cursor: pointer;
  color: rgb(13, 248, 13);
  font-weight: bold;
  background-color: #0d0d0e;
  opacity: 1;
}
/*-----CONTACT US---------------------*/
.Contact-us{
background-image: url(Images/peak8.jpg);
background-attachment: fixed;
background-position:center;
height: 100vh;
width: 100%;
color: #0c0c0c;
}
.content{
  display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content h2{
  color: rgb(0, 14, 0);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 30px;
}
.Contact-container{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.contact-leftside{
display: flex;
flex-direction: column;
gap: 20px;
}
.contact-leftside .box {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
text-align: center;
}
.box .icon-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.box .icon{
 height: 50px;
 width: 50px;
 padding: 15px;
 border-radius: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 color:rgb(255, 255, 255);
 font-size: 30px;
 background-color:rgb(29, 167, 86); 
}
.contact-rightside{
width: 500px;
display: flex;
align-items: center;
justify-content: center;
}
.contactForm form h2{
font-size: 25px;
color: rgb(10, 9, 9);
margin-left: 40px;
}
.contactForm .inputbox{
display: flex;
flex-direction: column;
}
.contactForm .inputbox label{
color: #000107;
padding:6px 0px;
}
.contactForm  .inputbox input{
 padding: 16px;
 width: 300px;
 height: 10px;
 color: #000;
 border-bottom: 1px solid black;
}
.contactForm .inputbox textarea{
width:300px;
height: 150px;
color: #0d0d0e;
resize: none;
}
.submit-subtitle{
display: flex;
justify-content: center;
align-content: center;

}
.my-form__button {
    background-color:rgb(29, 167, 86);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 200;
    width: 40%;
    padding:8px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    transition: all .3s ease;
    
}
.my-form__button:hover{
  color: rgb(13, 248, 13);
  background-color: rgb(13 , 18 , 14);
  cursor: pointer;
}
/*-------------footer------------*/
.footer{
background: linear-gradient(to right, #00093c, #2d0b00);

color: white;
padding: 40px 0 20px;
font-size: 13px;
}

.row{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
padding-left: 30px;
}
.column{
flex-basis: 2%;
padding: 3px;
}
.column:nth-child(2), .column:nth-child(3){
flex-basis: 11%;
}
.column h3{
width: fit-content;
margin-bottom: 20px;
position: relative;
}
.footer_links {
list-style: none;
margin-bottom: 10px;
}
.footer_links li a{
  text-decoration: none;
  color: white;
}
.footer_links li a:hover{
transform:translateY(-20px);
}
.column .form-action{
padding-bottom: 6px;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 1px solid #ccc;
width: 200px;
margin-bottom: 40px;
}
 form .fa-solid{
  font-size: 20px;
  margin-right: 5px;
 }
 form input{
  width: 80%;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
 }
 form button{
background: transparent;
border: 0;
outline: none;
cursor: pointer;
 }
.form-action .fa{
font-size: 12px;
color: #ccc;
 }
 .social-icons .fa{
width: 30px;
height: 30px;
border-radius: 30px;
color: #000;
background: #fff;
cursor: pointer;
 }
 .social-icons .fa:hover{
background-color: green;
animation: slideUp;
animation-duration: 1s;
animation-timing-function: ease-in;
}
.social-icons i{
  padding-top: 8px;
  text-align: center;
}

  @keyframes slideUp {
    from{
      transform:translateY(0);
    }
    to{
      transform:translateY(-20px);
    }
 }
  hr{
    width: 80%;
    
    margin: 20px auto;
  }
  .copyright{
    text-align: center;
  }

/*---------Hamburger button-------------------*/
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}
.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #030303;
  margin: 6px 0;
}
/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}
.mobile-menu.active {
  right: 0;
}
.mobile-menu ul {
  margin-top:80px;
  padding-right: 10px;
}
.mobile-menu ul li {
  margin: 10px 0;
}
.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

/*------------RESPONSIVE DESIGN-------*/
 @media (max-width :768px){
.navbar .main-menu{
 display: none;
}
.navbar .hamburger-button {
  display: block;
}
.introduction h1{
font-size: 23px;
}
.introduction p{
  font-size: 16px;
}
/*----------Services section----------------*/
.services-header h1{
 font-size: 1.5rem;
 padding: 10px;
}
.services-header p{
  font-size: 1rem;
 }
.services-container{
  grid-template-rows: repeat(3,180px);
  grid-template-columns: repeat(2, 220px);
  justify-content: center;
  padding: 8px;
} 
.services-card {
  display: flex;
  flex-direction: column;
  height:100%;
  width: 100%;
  padding: 3px;
  row-gap: 3px;
  column-gap: 3px;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(91, 252, 91);
  }
  .services-card h2{
    font-size: 12px;
    color: rgb(13 , 18 , 14);
    font-family: Arial, Helvetica, sans-serif; 
}
.services-card i {
  padding: 5px;
}
/*------About Us--------------------*/
.About-us h1{
  text-align: center;
  font-size: 20px;
  padding: 20px;
 }
.About-details{
display: flex;
flex-direction: column;

}
.about-img{
  padding-top: 10px;
  border-radius: 20px 20px 30px 80px;
 width: 100%;
 height: 200px;
}
.about-description .About-information{
margin-top: 10px;
color: rgb(7, 0, 0);
text-align: left;
}
.about-button{
  margin: 10px;
  font-weight: bold;
  height: 40px;
  width: 160px;
  color: white;
  background-color: rgb(30, 10, 148);
  border-radius: 1px;
  outline: none;
}
/*--------------Testimonials------------*/
.testimonial-container{
  padding-bottom: 20px;
}
.testimonial-content {
  padding: 1rem;
  border-radius: 0.5rem;
}
.swiper-slide img {
  margin-right: 1rem;
  border-radius: 50%;
  width: 2.5rem;
}
.testimonial-text {
  font-size: 2rem;
  line-height: 1.25rem;
  color: white;
}
.testimonial-text{
  font-size: 0.5rem;
}
.article-wrapper  h1{
font-size: 1.3rem;
}
.article-wrapper  p{
  text-align: center;
  font-size: 0.8rem;
  }
   /*---------------Contact -------------*/
  .Contact-container{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .contact-leftside{
  display: flex;
  flex-direction: column;
  gap: 5px;
  }
  .contact-leftside .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  }
  .box .icon-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  }
  .box .icon{

   height: 30px;
   width: 30px;
   padding: 23px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
 
  }
  .contact-rightside{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .contactForm form h2{
  font-size: 25px;
  color: rgb(10, 9, 9);
  margin-left: 40px;
  }
  .contactForm .inputbox{
  display: flex;
  flex-direction: column;
  }
  .contactForm .inputbox label{
  color: #000107;
  padding:3px 0px;
  }
  .contactForm  .inputbox input{
   padding: 12px;
   width: 100%;
   height: 10px;
   color: #000;
   border-bottom: 1px solid black;
  }
  .contactForm .inputbox textarea{
  width:100%;
  height: 150px;
  color: #0d0d0e;
  resize: none;
  }
  /*--------------footer---------------*/
   .row{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    text-align: center;
   }
   .column{
   display: flex;
   flex-direction: column;
   justify-items: center;
    align-items: center;
   }
   .column:nth-child(1){
display: none;
   }
 
   }
  
